extends layout
block content
  br
  br

  div(class="row")
    div(class="col-md-4 col-md-offset-4")
      h2 Sign Up
      form(method="post" action="/registrar")
        div(class="form-group")
          label Nick
          input(type="text" class="form-control" name="nick")
        div(class="form-group")
          label Password
          input(type="password" class="form-control" name="contrasena")
        div(class="form-group")
          button(type="submit" class="btn btn-primary") Sign Up
