extends layout

block content
  br
  br
  br
  br
  h2 Historial de Usuario 
  table(class="table table-striped table-hover ")
    thead
      tr
        th Fecha
        th Accion
    tbody
    each item in resultados    
      tr
        td= item.fecha
        td= item.detalle
            
  
